$font-mon-light: 'Montserrat Light', sans-serif;
$font-mon-reg: 'Montserrat Regular', sans-serif;
$font-mon-semi: 'Montserrat Semibold', sans-serif;

/***    colors     ***/
$white: #ffffff;
$black: #130C0E;
$light-grey: #dadada;
